/* google fonts  */
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ifra-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1280px;
  margin: 0 auto;
  background-color: #F5F5F5;
  font-family: "Fira Sans", sans-serif;;
}

/* nav section start here  */
.nav-section{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-text-1{
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}

.nav-btn{
  color: #006A50;
  border: 1px solid #006A50;
  border-radius: 8px;
  padding: 15px 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
/* nav section ends here  */

/* new bangladesh section start here  */
.new-bangladesh-section{
  display: flex;
  justify-content: space-between;
  background-color: #C6E4D6;
  border-radius: 24px;
  margin-bottom: 80px;
}

.new-bd-body{
  margin: 117px 60px 117px 64px;
}

.new-bd-title{
  margin-bottom: 16px;
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
}

.new-bd-description{
  margin-bottom: 24px;
  font-size: 56px;
  font-weight: bold;
  color: #0e0e0e;
}

.new-bd-btn{
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #006A50;
  border-radius: 8px;
  border: none;
}

.new-bd-img{
  margin: 80px 60px 80px 64px;
}
/* new bangladesh section ends here  */

/* pillars section start here  */
.pillar-section{
  margin-bottom: 80px;
}

.pillar-title{
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: bold;
}

.pillars-icon{
  margin-bottom: 24px;
}

.pillars-name{
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
}

.pillars-description{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.pillars-item-1{
  width: 302px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
}

.pillars-body{
  display: flex;
  gap: 24px;
}
/* pillars section ends here  */

/* future section start here  */
.future-section{
  margin-bottom: 32px;
}

.future-items{
  display: flex;
  gap: 24px;
}

.future-item-1{
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
  border-radius: 16px;
}
.future-item-2{
  background-color: #C6E4D6;
  padding: 32px;
  border-radius: 16px;
}
.future-item-3{
  background-color: #F7EBCF;
  padding: 32px;
  border-radius: 16px;
}

.future-title{
 margin-bottom: 32px;
  font-size: 40px;
  font-weight: bold;
}

.future-description{
  font-size: 16px;
  margin-bottom: 32px;
  color: rgba(14, 14, 14, 0.7);
}


.future-name{
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
}

.future-description{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}

.future-btn{
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 11px 20px;
  border-radius: 8px;
  background-color: #5490F5;
  border: none;
}
.future-btn-1{
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 11px 20px;
  border-radius: 8px;
  background-color: #09A15C;
  border: none;
}
.future-btn-2{
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 11px 20px;
  border-radius: 8px;
  background-color: #FFC239;
  border: none;
}
/* future section ends here  */